<mat-stepper>
  <mat-step [stepControl]="emailForm">
    <form class="mt-14 mx-auto flex flex-col max-w-md" [formGroup]="emailForm">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput required type="email" formControlName="email" />
      </mat-form-field>

      <button mat-button matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step [stepControl]="userInfoForm">
    <form
      class="mt-14 mx-auto flex flex-col max-w-md"
      [formGroup]="userInfoForm"
    >
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput type="text" formControlName="firstName" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Family name</mat-label>
        <input matInput type="text" formControlName="familyName" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-button matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step [stepControl]="fileForm">
    <form class="mt-14 mx-auto flex flex-col max-w-md" [formGroup]="fileForm">
      Your file goes here:
      <input type="file" formControlName="file" />

      <button mat-button matStepperNext>Submit</button>
    </form>
  </mat-step>
</mat-stepper>

<router-outlet></router-outlet>
