<mat-card>
  <form class="form">
    <form
      [formGroup]="formService.form"
      (keydown.enter)="onEnter($event, stepper)"
    >
      <mat-stepper [orientation]="(stepperOrientation | async)!" #stepper>
        <mat-step *ngFor="let step of formService.schema.steps">
          <ng-template matStepLabel>{{ step.name }}</ng-template>
          <mat-grid-list
            [cols]="(adaptive.isMobile | async) ? 1 : 2"
            rowHeight="80"
            gutterSize="4"
          >
            <mat-grid-tile *ngFor="let field of step.fields">
              <app-raffle-form-field
                [form]="formService.form"
                [field]="field"
              ></app-raffle-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <mat-grid-list cols="1" rowHeight="80" gutterSize="8">
            <mat-grid-tile>
              <h3>You are done! Submit the form, when you are ready.</h3>
            </mat-grid-tile>
            <mat-grid-tile>
              <button
                color="primary"
                mat-flat-button
                (click)="formService.submitForm()"
              >
                Submit
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-step>
      </mat-stepper>
    </form>
  </form>
  <mat-card-footer>
    <app-loading-indicator
      [status]="formService.syncStatus | async"
    ></app-loading-indicator>
  </mat-card-footer>
</mat-card>
